@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Fragment+Mono:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadows  */

.navibarCardSh {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.shadow2 {
  box-shadow: 0px 0px 9.9px 0.99px #00000054;
}
.shadow3 {
  box-shadow: 0px 0px 10px 1px #317c858c;
}

.verticalOr {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.textShadow {
  box-shadow: 0px 0px 4px 0px #ffffff;
}

.tableShadow {
  box-shadow: 0px 0px 9px 0px #00000054;
}

.forDarkShadow{
  box-shadow: 0px 0px 9px 0px #FFFFFF54;

}

.trustedTextColor{
  box-shadow: 0px 0px 10px 0px #EF72168C;

}

.boxShadow2{

  box-shadow: 0px 0px 25px 0px #0000008C;
}





/* shadows ends here */

.scrollSize::-webkit-scrollbar {
  width: 4px;
  height: 40px;
}

.scrollSize::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scrollSize::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 1px;
}
